@charset 'utf-8';

/* ====================== */
/* UI Reset */
/* ====================== */
@import url('https://cdnjs.cloudflare.com/ajax/libs/pretendard/1.3.9/static/pretendard-subset.min.css');
* {margin:0;padding:0;font:inherit;}
*, *::before, *::after {box-sizing:border-box;}
html {font-size: 62.5%;-moz-text-size-adjust:none;-webkit-text-size-adjust:none;text-size-adjust:none;-webkit-touch-callout: none;-webkit-user-select: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);scroll-behavior: smooth;}
img, video, svg, picture {display:block;height:auto;max-width:100%;}
body {font-size:1.6rem;background:#0A0B0F;color:#fff;;overflow-x: hidden;font-family:"Pretendard", pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Hiragino Sans", "Apple SD Gothic Neo",  "Noto Sans KR", "Malgun Gothic", Osaka, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;letter-spacing:-0.132px;}
a {text-decoration:none;cursor:pointer;}
button {border:none;cursor:pointer;background-color:transparent;}
sup {line-height:1;vertical-align:0px;}
ul, ol, li {list-style:none;}

input {-webkit-appearance: none;-moz-appearance: none;appearance: none;}
input::-ms-clear {display: none;}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {-webkit-appearance: none;-moz-appearance: none;appearance: none;}
input[type='number'] {-moz-appearance: textfield;}

select {-webkit-appearance: none;-moz-appearance: none;appearance: none;}
select::-ms-expand {display: none;}

::-webkit-scrollbar {width: 5px;height:5px;}
::-webkit-scrollbar-thumb {background: #6e6e6e;border-radius: 10px;}

.blind {position:absolute; clip:rect(0 0 0 0); width:1px; height:1px; margin:-1px; overflow:hidden;}
[class^="material-icons"] {font-size:1.3em; color:inherit;}
.ta-center {text-align:center;}

/* ====================== */
/* Layout */
/* ====================== */
#wrap {width:100%;min-height:100dvh;overflow-x:hidden;}
.inner {padding:0 20px;max-width:1440px;width:100%;margin-left:auto;margin-right:auto;}

/* header */
.header-wrap {z-index:100;position:fixed;left:0;right:0;border-bottom: 1px solid rgba(255, 255, 255, 0.20);background: rgba(21, 21, 21, 0.20);backdrop-filter:blur(4px);}
.header-wrap header {display:flex;justify-content:space-between;align-items:center;height:65px;position:relative;}
.header-wrap .hd-logo {height: 20px;}
.header-wrap .hd-gnb {display:flex;gap:55px;}
.header-wrap .hd-gnb a {color:#fff;font-weight:500;display:inline-block;padding:9px 12px;line-height:1;border-radius:6px;transition:background .3s ease;}
.header-wrap .hd-gnb a:hover {background-color:rgba(255, 255, 255, 0.2);}
.header-wrap .hd-gnb a.active {background-color:rgba(255, 255, 255, 0.2);}
.header-wrap .btn-menu {display:none;width:36px;height:36px;border-radius:6px;transition:background .3s ease;color:#fff;background:url(../images/btn_menu.svg) no-repeat center;font-size:0;background-size:24px auto;}
.header-wrap .btn-menu:hover {background-color:rgba(255, 255, 255, 0.2);}


@media screen and (max-width: 1440px) {
    .inner {max-width:90%;}
}

/* 태블릿 사이즈 (가로 768px 이상 1024px 이하) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .header-wrap .hd-gnb {gap:10px;flex:none;padding-left:0;}
}

/* 모바일 사이즈 (가로 767px 이하) */
@media screen and (max-width: 767px) {
    .inner {max-width:none;}
    /* .header-wrap .hd-gnb {display:none;} */
    .header-wrap.active {background:rgba(21, 21, 21, .8);}
    .header-wrap .hd-gnb {display:none;}
    .header-wrap .hd-gnb.active {position:fixed;top:65px;padding:24px;right:0;left:0;bottom:0;background:rgba(21, 21, 21, .8);display:flex;height:calc(100vh - 65px);backdrop-filter:blur(10px);z-index:10;flex-direction:column;gap:20px;}
    .header-wrap .hd-gnb a {padding:17px 20px;}
    .header-wrap .btn-menu {display:inline-block;}
}
